body {
    background-color: lightskyblue;
    
}

h1, img {
    
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}


.description_bx {
    border: 5px solid green;
    padding: 20px;
    font-size: large;
    color: blueviolet;
}


.ingredients_bx, .steps_bx {

    border: 5px solid green;
    padding: 30px;
    font-size: large;
    color: red;
}
