body {
    background-color: rgb(137, 205, 247);
    
}

h1, img {

    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description_bx {
    border: 5px solid rgb(0, 154, 0);
    padding: 20px;
    font-size: large;
    color: blueviolet;
}


.ingredients_bx, .steps_bx {

    border: 5px solid rgb(0, 154, 0);
    padding: 30px;
    font-size: large;
    color: rgb(176, 4, 4);
}
