
body {
    background-color: lightskyblue;
}

ul {
    color: red;
}


.description_bx {
    border: 5px solid green;
    padding: 20px;
}


.ingredients_bx, .steps_bx {

    border: 5px solid green;
    padding: 30px;
}

